div #containerNavBar
{
      position:relative;
      display: inline-flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 0px;
      width: 100vw;
      height: 10vh;
      background-color: #5a3f11;
}

button.navBarBtn
{
      background-color: #5a3f11;
      color: #faf4f4;
      letter-spacing: 0.2vw;
      font-size: large;
      border: none;
      height: 100%;
}

button.navBarBtn:active
{
      font-weight: bold;
      font-size: x-large;
}

button.navBarBtn:hover
{
      cursor: pointer;
      background-color: #faf4f4;
      color: #5a3f11;
}